/*****************
      Font 
 *****************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*****************
 Common Style 
 *****************/
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/*****************
    nav style 
******************/
.header-title h3{
    font-size:45px ;
    font-weight:700 ;
    padding: 15px;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.menu-item ul {
    list-style: none;
    display: flex;
    margin-left: 20px;
}
.menu-item ul li{
    justify-content: space-between;
   padding: 15px;
   font-size: 18px;
   font-weight: 500;
}
/********************
    banner section
 ********************/

.banner-section{
    background: rgba(255, 144, 14, 0.1);
    text-align: center;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    padding-top: 50px;
    
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    
}
.explorer-btn{
    width: 180px;
    height: 70px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: #FF900E;
    margin: 30px;
    color: #FFFFFF;
}
.banner-img{
    width: 1440px;
    height: 700px;
    border-radius: 10px;
    margin-left: 50px;
    padding-right: 50px;
    display: flex;
}

/********************
    main section
 ********************/
/********************
    quick-section 
 ********************/

.quick-section{
    margin-left: 30px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.quick-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
}
.quick-list-img{
    margin: 10px;
   
}

.quick-list-text-title{
    font-size: 45px;
    font-weight: 700;
    margin-top: 180PX;
    margin-left: 30PX;
    padding: 20PX;
    color: #727272;
}
.title-modify-1{
    color:#131313 ;
}
.title-modify-2{
    color: #FF900E;
}
.quick-list-text-description{
    font-size: 16px;
    font-weight: 400;
    margin-left: 30PX;
    padding: 10PX;
}
.quick-list-btn{
    margin-left: 40px;
}
/**********************
    features section 
**********************/
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
}

.section-header{
   margin-left: 30px;
}
.section-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-left: 10px;
    border-left: 5px solid #FF900E;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    width: 580px;
    height: 75px;
}
.feature-items{
    width: 560px;
    height: 170px;
    padding-left: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 26px;
   
}
.item-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
   
}
.item-detail{
    font-size: 16px;
    font-weight: 400;
}
.section-img{
    
    height: 500px;
}
.feature-btn{
    position: relative;
    width: 340px;
    height: 200px;
    border: none;
    border-radius: 5px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    background-color: #FF900E;
    margin: 30px;
    color: #FFFFFF;
    top: -77px;
    left: 550px;
}
.feature-btn .small{
    font-size: 24px;
    font-weight: 500;
}
/******************
    fact section
 ******************/
.fact-header{
    margin-left: 30px;
    padding: 20px;
}
.fact-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-left: 10px;
    
}
.title-detail{
    font-size: 16px;
    font-weight: 400;
}

.info{
    display: flex;
    align-items: center;
    padding: 40px;
    margin-left: 50px;
    justify-content: space-between;  
}
.fact-detail{
    border: 1px solid #FF900E;
    padding: 30px;
    text-align: center;
    transition: ease 2s;
}
.fact-detail:hover {
    background-color: #727272;
    rotate: 360deg;
   }
/*******************
   sponspors section
 *******************/
.sponspors .title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
   text-align: center;
}
.title-info{
    margin: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    text-align: center;
}
.company{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.sponspors-company img{
    filter: grayscale(100%);
}
/***************************
      Feedback Section 
 ***************************/
.feedback h2{
    padding: 20px;
    color: aqua;
    margin-left: 10px;
}
.feedback-type{
    margin-left: 50px;
    background-color: #FFF4E7;
   
}
input,textarea{
    margin-bottom: 20px;
    padding:10px;
}
.submit-btn{
    background-color: #FF900E;
    border: 0px;
}
/**************
     footer  
 **************/
 footer{
    margin-top: 150px;
 }
 footer p{
    text-align: center;
    background-color: #FFF4E7;;
    font-size: 16px;
    font-weight: 400;
     padding: 30px;
    border-radius: 10px;
 }
 /* Responsibe Style  */

 @media only screen and (max-width:576px){
    .header-title h3 {
        padding-top: 0px;
        
    }
   .nav-section ul{
    display: inline-block;
   }
   .banner-img{
    width: 74%;
    height: 100%;
   }
   .quick-section{
    grid-template-columns: 1fr;
   }
   .quick-list{
    grid-template-columns: repeat(1, 1fr);
    
 }
 .quick-list-img{
    margin: 0px;
    width: 100%;
}

.quick-list-text-title{
    margin-left: 0px;
}
.quick-list-text-description{
    margin-left: 10PX;
}
.quick-list-btn{
    margin-left: 20px;
}
.features{
    grid-template-columns: 1fr;
}
.section-title{
    font-size: 35px;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    width: 390px;
    height: 75px;
}
.feature-items{
    width: 320px;
    height: 170px;
   
}
.section-img{
    width: 100%;
    margin-bottom: 400px;
}
.feature-btn{
    width: 245px;
    height: 160px;
    font-size: 35px;
    top: 100px;
    left: 30px;
    margin-bottom: 100px;
}
.fact{
    top: 400px;
}
.info{
    flex-direction: column;
    gap: 10px;
   align-items: center;
}
.company{
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    margin-bottom: 0px;
}
footer{
   margin-top: 10px;
}
}